<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/bucky.png">
        <p>This application was created by Hua Lun. It uses data from weatherstack.com and mapbox.com</p>
    </div>

    {{>footer}}
</body>

</html>